h1{
    color: #000;

    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
h3{
    color: #000;

font-family: Kaisei Decol;
font-size: 32px;
font-style: normal;
font-weight: 100;
line-height: normal;
margin-left: 15px;
width: 100px;

}

ul{
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
}
.logodiv{
    display:flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1254px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 550px;
}
.navdiv{
    width: 188px;
    height: 21px;
    flex-shrink: 0; 
   background-color: #D9D9D980;
   border-radius: 40px;
   display: flex;
   padding-right: 5px;
   padding-left: 5px;
   justify-content: space-between;
   align-items: center;

}
.navdiv:hover{
background-color: lightgray;
transition: 1s;
}
h2{
    color: #000;

font-family: JejuMyeongjo;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navdiv2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}
.iconsdiv{
    display: flex;
    justify-content: space-between;
    width: 75px;
    align-items: center;
}
.section1{
    width: 1530px;
    height: 550px;
   margin-top: 42px;
   background-image: url(../images/download.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
  
}
h4{width: 684px;
    height: 152px;
    flex-shrink: 0;
    color: #FFF;

text-align: center;
font-family: Judson;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer{
    width:14s40px;
    height: 350px;
    background-color: #E4E4E4;;
    margin-top: 50px;
    
}
p{
    width: 304px;
height: 22px;
flex-shrink: 0;
color: #000;

font-family: Kameron;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 13px;
}
.footersdiv{
    height: 180px;
    width: 86px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}
a{
    color: #000;

    font-family: Kameron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-top: 20px;
}